# Python essentials

### Lists and format printing

In [2]:
print(1+3)

4

In [3]:
num = 22
name = "John"

In [4]:
print("My name is {}, my age is {}".format(name,num))

My name is John, my age is 22

### Selecting string characters

In [2]:
s = "hello!"
s[1:4]

'ell'

### Lists

In [13]:
my_list = ["a","b","c","d"]

In [14]:
#Add elements to a list
my_list.append("lol")

In [15]:
#Replace elements in a list
my_list[1] = "second"

In [16]:
my_list

['a', 'second', 'c', 'd', 'lol']

### Nested list (una lista en una lista)

In [17]:
nest = [1,2,[3,4]]
nest[2]

[3, 4]

In [18]:
nest1 = [1,2,[3,4],["c:"]]

In [19]:
nest1[3][0]

'c:'

## Dictionaries

In [26]:
d = {"key1":"name", "key2":123}

In [27]:
d["key1"]

'name'

In [29]:
d1 = {"key1": [1,2,3]}

In [30]:
d["key1"][0]

1

In [31]:
d2 = {"key1":{"innerkey":[1,"hello",3]}}

In [32]:
d2["key1"]["innerkey"][1]

'hello'

## Tuples

In [53]:
t = (0,1,2)
t[0]

0

# Elements in a tuple can't be changed!!

## Sets

In [37]:
#Sets only take unique elements
{1,2,3,4,4,4}

{1, 2, 3, 4}

## Booleans

In [38]:
1 == 0

False

In [39]:
1 != 0

True

In [40]:
1<2 and 2==2

True

In [41]:
1>2 or 2>2

False

## If

In [43]:
if 1<2:
    print("heck yes")

heck yes

In [44]:
if True:
    x=4

In [45]:
x

4

## If - else

In [47]:
if 1==2:
    print("first")
    
elif 4==5:
    print("second")
    
else:
    print("nope")

nope

## For loops

In [49]:
seq = [1,2,3,4,5]

In [50]:
for item in seq:
    print(item)

1
2
3
4
5

In [48]:
i = 1 
while i < 5:
    print("i is:{}".format(i))
    i = i+1

i is:1
i is:2
i is:3
i is:4

## Range

In [51]:
for i in range(0,5): 
    print(i)

0
1
2
3
4

In [53]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## List comprehension

In [54]:
li = [1,2,3,4,5]

In [55]:
out = []

for item in li:
    out.append(item*2)

In [56]:
print(out)

[2, 4, 6, 8, 10]

In [57]:
out  = [num*2 for num in li]
out

[2, 4, 6, 8, 10]

## Functions

In [58]:
def my_func(name="default name"):
    print("Hello " + name)

In [61]:
my_func("Juanito")

Hello Juanito

In [62]:
my_func()

Hello default name

In [63]:
my_func(name ="Juan")

Hello Juan

In [64]:
def square(num):
    
    """
    THIS FUNCTION SQUARES NUMBER (num)
    """
    
    return num**2

In [65]:
output = square(2)
output

4

### Si se coloca el cursor al final de la función (sin ejecutarla), y se presiona SHIFT+TAB, podemos obtener información  y documentación sobre la función

In [66]:
square

## Map

Map aplica una función sobre elementos de una lista

In [67]:
#función usual
def times2(x):
    return x*2 
times2(40)

80

In [68]:
seq1 = [1,2,3,4,5]

In [69]:
#usando map
list(map(times2,seq1))

[2, 4, 6, 8, 10]

## Lambda expressions
Estas son funciones anónimas, muy útiles para utilizar map de forma rápida

In [73]:
print(lambda num:num*3)

<function <lambda> at 0x10479a158>

In [74]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

## Filter function
FIltra elementos de una lista en base a un criterio

In [75]:
#filtrar los valores verdaderos al evaluar la función lambda:
list(filter(lambda num: num%2 ==0,seq))

[2, 4]